* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    background-color: rgba(255, 255, 0, 0.1);
}

header article {
    display: flex;
    width: 90%;
    padding: 8px;
    height: fit-content;
    font-size: 16px;
}

header img {
    width: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

main {
    width: 90%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#email {
    margin-top: 5px;
}

#senha {
    margin-top: 10px;
}

main input {
    box-shadow: 0px 1px .1em rgba(108, 108, 108, 0.311);
    padding: 12px;
    font-size: 15px;
    border: none;
    background-color: #f5f6f7;
    border-radius: 3px;
}

.ou {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.ou p {
    padding: 0 15px;
}

.ou hr {
    width: 45%;
    height: 1px;
}

#entrar {
    background-color: #1877f2;
    font-size: 17px;
    font-weight: bold;
    color: #f5f6f7;
    height: 40px;
    padding: 0px 16px;
}

main a {
    padding: 10px 16px;
    font-weight: 600;
    font-size: 16px;
    background-color: #00a400;
    color: #f5f6f7;
    border-radius: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-align: center;
}

footer main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}

footer p {
    width: fit-content;
    text-align: center;
    color: grey;
    font-size: 15px;
    line-height: 20px;
}

footer .meta {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}